:root {
  --background-black: #0d0b02;
  --white: #fff;
  --text--off-white: #e7e7e7;
  --theme--primary-color: #e2c376;
  --text--white-subdued: #c5c5c5;
  --light-grey: #9e9e9e;
  --text--pure-black: #000;
  --theme--primary-faded: #e2c37640;
  --grey-line: #525252;
  --faded-black: #242424;
  --card--card-black: #171612;
  --theme--primary-color2\<deleted\|variable-5d1f325e-fa33-fc24-2c58-cfb2e8dec28b\>: #e9a87c;
  --text--grey: #aaa;
  --text--grey-darker: #888;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--background-black);
  color: var(--white);
  font-family: Afacad Flux, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2em;
}

h3 {
  color: var(--text--off-white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3em;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--theme--primary-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.display-heading-1 {
  z-index: 6;
  color: var(--theme--primary-color);
  margin-bottom: 1.5rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.15em;
  position: relative;
}

.hero-heading {
  z-index: 2;
  color: var(--theme--primary-color);
  letter-spacing: .01em;
  will-change: transform;
  flex-direction: row;
  flex: none;
  justify-content: flex-end;
  max-width: 100%;
  font-size: 8vw;
  font-weight: 500;
  line-height: 100%;
}

.heading-h1 {
  color: var(--theme--primary-color);
  margin-bottom: 2rem;
  font-size: calc(3vw + 1.75rem);
  font-weight: 400;
  line-height: 1.1em;
}

.heading-h2 {
  color: var(--white);
  margin-bottom: 1.5rem;
  font-size: calc(2vw + 2rem);
  font-style: italic;
  font-weight: 500;
  line-height: 1em;
}

.heading-h3 {
  z-index: 10;
  perspective: 2000px;
  color: var(--theme--primary-color);
  letter-spacing: .01em;
  margin-bottom: 1rem;
  font-size: calc(1.5vw + 1.75rem);
  font-style: italic;
  font-weight: 400;
  line-height: 1.15em;
  position: relative;
  transform: perspective(2000px);
}

.heading-h4 {
  color: var(--theme--primary-color);
  margin-bottom: 1rem;
  font-size: calc(1vw + 1rem);
  font-weight: 600;
  line-height: 1.3em;
}

.heading-h6 {
  color: var(--white);
  font-size: 1rem;
  line-height: 120%;
}

.heading-h5 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 120%;
}

.paragraph-32 {
  color: var(--theme--primary-color);
  font-size: calc(.75vw + 1.5rem);
  line-height: 1.25em;
}

.paragraph-24 {
  color: var(--white);
  font-size: calc(1vw + 1rem);
  line-height: 1.2em;
}

.paragraph-20 {
  color: var(--theme--primary-color);
  font-size: calc(.75vw + 1rem);
  line-height: 1.3em;
}

.paragraph-18 {
  color: var(--text--white-subdued);
  font-size: calc(.35vw + 1rem);
  font-weight: 400;
  line-height: 1.4em;
}

.paragraph-16 {
  color: var(--text--white-subdued);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
}

.paragraph-14 {
  color: var(--text--off-white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(.6vw + .65rem);
  font-weight: 400;
  line-height: 1.4em;
}

.paragraph-12 {
  color: var(--text--white-subdued);
  font-size: calc(.75vw + .45rem);
  line-height: 1.4em;
}

.nav-menu-button {
  padding: 0;
}

.nav-bar {
  background-color: #ddd0;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: auto;
  min-height: calc(1vw + 4rem);
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.page-wrapper {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.field-label {
  color: var(--text--off-white);
  margin-bottom: .5rem;
  font-weight: 400;
}

.project-2-container {
  perspective: 3500px;
  justify-content: center;
  align-items: center;
  width: 88%;
  min-width: 920px;
  max-width: 1500px;
  height: 52vw;
  min-height: 500px;
  display: flex;
  position: relative;
}

.secondary-button {
  background-color: var(--theme--primary-color);
  color: var(--background-black);
  letter-spacing: .5px;
  text-transform: uppercase;
  border-radius: 4rem;
  padding: 1rem 1.5rem;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.4em;
  transition: box-shadow .2s, transform .2s;
}

.secondary-button:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 12px #00000029;
}

.secondary-button.primary-button-grey {
  background-color: var(--light-grey);
  color: var(--text--pure-black);
}

.showcase-image-link-container {
  position: relative;
}

.project-hero-title-line {
  background-color: var(--theme--primary-color);
  width: 24px;
  height: 2px;
  margin-bottom: 1rem;
  margin-right: 10px;
  font-size: 1.1em;
}

.project-long-image-container {
  width: 100%;
  padding: 6rem 4rem;
  display: block;
  position: relative;
}

.project-long-image-container.max-width {
  display: flex;
}

.awards-links-container {
  opacity: .73;
  color: var(--theme--primary-color);
  letter-spacing: 1.5px;
  border-bottom: 1px solid #63636380;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: calc(.6vw + 1rem);
  font-weight: 500;
  line-height: 1.2em;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
  display: flex;
}

.awards-links-container:hover {
  opacity: 1;
}

.generic-wrapper {
  background-color: #0000;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.project-hero-details-text {
  color: var(--text--white-subdued);
  text-shadow: 1px 1px 9px #0000001a;
  font-size: 1em;
  font-weight: 400;
}

.research-icon-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.project-hero-text-name {
  color: var(--theme--primary-color);
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: none;
}

.project-hero-details-wrapper {
  width: 25%;
}

.project-hero-title-container {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.project-hero-title-container.margin-bottom-32 {
  justify-content: flex-start;
  align-items: center;
}

.project-hero-details-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
}

.project-hero-section {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-image {
  box-shadow: 0 0 64px 0 var(--theme--primary-faded);
  width: 100%;
}

.project-long-image-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.project-hero-details-title {
  color: var(--text--off-white);
  letter-spacing: 1.7px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-right: 28px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.3em;
}

.project-footer {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 108px 2rem;
  display: flex;
}

.project-footer-link {
  color: var(--grey-line);
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3em;
  text-decoration: none;
  transition: color .2s;
}

.project-footer-link:hover {
  color: var(--theme--primary-color);
}

.project-footer-link.w--current {
  color: var(--theme--primary-color);
  font-weight: 500;
}

.project-image-screenshot {
  width: 100%;
  box-shadow: 0 18px 42px #0000001a;
}

.project-image-screenshot.project_image-screenshot--spacer {
  margin-bottom: 3vw;
}

.project-long-image-text-container {
  width: 100%;
}

.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 94%;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

.container.navigation-container {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.container.intro-container {
  width: 68%;
  max-width: 60rem;
}

.container.global-container-medium {
  display: flex;
}

.container.global-container-medium.global-container-hero {
  z-index: 2;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 7.5rem;
  padding-bottom: 20vh;
  position: relative;
}

.container.container-footer {
  flex-flow: wrap;
  justify-content: space-between;
}

.container.container-hero {
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container.narrow {
  width: 60%;
  min-width: 50px;
}

.project-1-image-container {
  z-index: 2;
  perspective: 3500px;
  perspective-origin: 10%;
  transform-origin: 0%;
  border-radius: 2px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  transform: perspective(3500px);
}

.project-1-button {
  z-index: 4;
  color: var(--theme--primary-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto 25% 20% auto;
}

.body {
  background-color: var(--background-black);
}

.quote-slide {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.skill-card {
  grid-column-gap: 1.25vw;
  grid-row-gap: 1.25vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.scrolling-logo-container {
  grid-column-gap: 5vw;
  flex-direction: row;
  flex: none;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: flex;
  position: relative;
  inset: 0% 0% auto;
}

.scrolling-logo-wrapper {
  opacity: .73;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 8vw;
  max-height: 2.6vw;
  display: flex;
  position: static;
}

.scrolling-logo-image {
  filter: invert();
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav-links-conatiner {
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.nav-logo-image {
  object-fit: contain;
  object-position: 0% 50%;
  width: 100%;
  height: 100%;
}

.nav-logo {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.nav-link {
  color: var(--text--white-subdued);
  text-align: center;
  letter-spacing: .05em;
  cursor: pointer;
  justify-content: center;
  align-self: baseline;
  align-items: center;
  height: 100%;
  font-size: calc(.25vw + 1rem);
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
  display: flex;
}

.nav-link:hover {
  color: var(--theme--primary-color);
}

.nav-link.w--current {
  border-bottom-color: #ffffff80;
}

.nav-link.nav-item-dropdown {
  padding-left: 0;
  padding-right: 20px;
}

.nav-link.nav_link--contact {
  border: 1px solid var(--theme--primary-color);
  border-radius: 3rem;
  align-self: auto;
  height: auto;
  padding: 4px 16px;
  transition: border-color .3s, background-color .3s, color .3s;
}

.nav-link.nav_link--contact:hover {
  background-color: var(--theme--primary-color);
  color: var(--background-black);
}

.nav-sub-container {
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.text-field {
  border-style: none none solid;
  border-width: 1px 1px 1.5px;
  border-color: black black var(--light-grey);
  color: var(--theme--primary-color);
  background-color: #fff0;
  max-width: 100%;
  min-height: 48px;
  margin-bottom: 0;
  padding: 8px 0;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  transition: border .3s;
  display: block;
}

.text-field:hover, .text-field:active {
  border-bottom-color: var(--theme--primary-color);
}

.text-field::placeholder {
  color: var(--light-grey);
}

.text-field.text-field-light {
  background-color: var(--faded-black);
  color: #0a0a0a;
  border-color: #c0c0c066;
  border-radius: 2px;
}

.text-field.text-field-light::placeholder {
  color: #0a0a0a99;
}

.form-input-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
}

.form {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  width: 100%;
  display: grid;
}

.form-block {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.contact-grid {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  grid-template-rows: auto;
  grid-template-columns: 8fr 11fr;
  width: 100%;
  max-width: 104rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-me-section {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.conatct-card {
  border: 1px solid var(--faded-black);
  background-color: var(--card--card-black);
  border-radius: .5rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 3vw;
  display: flex;
  position: relative;
}

.point-title {
  color: var(--theme--primary-color);
  margin-bottom: 1vw;
  font-size: calc(.7vw + .85rem);
  font-weight: 600;
  line-height: 1.3em;
}

.grid-case-study-2x1 {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 3fr 6fr;
  grid-auto-columns: 1fr;
  place-content: flex-start;
  align-items: flex-start;
  display: grid;
}

.grid-2x2 {
  grid-column-gap: 4vw;
  grid-row-gap: 4vw;
  background-color: #0000;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 100%;
  display: grid;
  position: relative;
}

.project-section {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.project-section.project-section-grey {
  background-color: #00000008;
  width: 100%;
}

.project-section.top-image-section {
  z-index: 1;
  margin-top: -20vh;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.grid-case-study-2x1-reverse {
  grid-column-gap: 6vw;
  grid-row-gap: 6vw;
  grid-template-rows: auto;
  grid-template-columns: 12fr 7fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.next-project {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.next-project-text {
  color: var(--text--white-subdued);
  width: 100%;
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.4em;
}

.next-project-line {
  background-color: var(--grey-line);
  width: 1px;
  height: 80px;
  margin: 24px auto;
}

.next-project-line.line-inside {
  background-color: var(--theme--primary-color);
  height: 0%;
}

.next-project-title {
  color: var(--theme--primary-color);
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4em;
}

.footer {
  border-top: 1.5px solid var(--grey-line);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.project-long-image-text-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  min-height: 80vh;
  padding-right: 6vw;
  display: flex;
  position: sticky;
  top: 10vh;
}

.project-long-image-wrapper {
  flex-flow: column;
  width: 60%;
  display: flex;
}

.style-button {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  align-items: center;
  display: flex;
}

.margin-bottom-4 {
  margin-bottom: .25rem;
}

.margin-bottom-32 {
  margin-bottom: 2rem;
}

.margin-bottom-80 {
  margin-bottom: 5rem;
}

.margin-bottom-8 {
  margin-bottom: .5rem;
}

.styles-contents {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.rich-text-block {
  color: var(--text--off-white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.6em;
  display: flex;
}

.rich-text-block h1, .rich-text-block h2 {
  margin-top: 40px;
  margin-bottom: 16px;
}

.rich-text-block h6, .rich-text-block h5 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.rich-text-block h4 {
  margin-top: 32px;
  margin-bottom: 16px;
}

.rich-text-block h3 {
  color: var(--theme--primary-color);
  margin-top: 40px;
  margin-bottom: 16px;
}

.rich-text-block p {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 17px;
  line-height: 1.6em;
}

.rich-text-block blockquote {
  margin-top: 16px;
  margin-bottom: 16px;
}

.rich-text-block img {
  width: 140%;
  display: inline-block;
  position: relative;
}

.rich-text-block a {
  color: var(--theme--primary-color2\<deleted\|variable-5d1f325e-fa33-fc24-2c58-cfb2e8dec28b\>);
  text-decoration: underline;
  transition: opacity .3s;
}

.rich-text-block a:hover {
  opacity: .81;
}

.styles-sticky-wrap {
  position: sticky;
  top: 6.5rem;
}

.margin-bottom-48 {
  margin-bottom: 3rem;
}

.margin-bottom-64 {
  margin-bottom: 4rem;
}

.style-margins-container {
  background-color: #f3f3f3;
}

.grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  border-bottom: 1px solid #d3d3d3;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
}

.margin-bottom-96 {
  margin-bottom: 6rem;
}

.styles-line {
  background-color: #d3d3d3;
  width: 100%;
  height: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.section.section-hero {
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
  padding-top: 8rem;
  padding-bottom: 2rem;
  display: flex;
  overflow: hidden;
}

.section.intro {
  min-height: 80svh;
  display: flex;
}

.section.quotes {
  overflow: hidden;
}

.section.section-logos {
  padding-top: 4rem;
  padding-bottom: 0;
  overflow: hidden;
}

.section.section-footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.primary-button {
  border: 1.5px solid var(--light-grey);
  color: var(--theme--primary-color);
  text-transform: uppercase;
  background-color: #fff0;
  border-radius: 6rem;
  justify-content: center;
  align-items: center;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.4em;
  transition: color .4s, border .4s, background-color .4s;
  display: flex;
}

.primary-button:hover {
  background-color: var(--white);
  color: var(--text--pure-black);
}

.primary-button:active {
  border-color: #d4d3d1;
}

.primary-button:focus {
  border-color: #a1a09c;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}

.styles-text-wrap {
  flex-flow: column;
  height: 100%;
  display: flex;
  position: relative;
}

.metrics-value {
  color: var(--theme--primary-color);
  text-align: center;
  word-break: break-all;
  margin-bottom: .5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2em;
}

.label-heading {
  background-color: var(--theme--primary-color);
  color: var(--background-black);
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-bottom: .5rem;
  padding: 1px 6px;
  font-size: calc(.5vw + .75rem);
  font-weight: 500;
  line-height: 1.2em;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.metrics-heading {
  color: var(--theme--primary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3em;
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-bottom-72 {
  margin-bottom: 4.5rem;
}

.footer-bottom-links {
  flex-flow: wrap;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.footer-copyright-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-links {
  color: var(--theme--primary-color);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  transition: all .2s;
}

.contact-links:hover {
  opacity: .8;
  text-decoration: underline;
}

.contact-list {
  grid-column-gap: 1.4rem;
  grid-row-gap: 1.4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.success-message {
  border: 1px solid var(--grey-line);
  color: #fff;
  background-color: #ffffff0d;
  border-radius: .5rem;
  width: 100%;
  height: 100%;
  min-height: 30vh;
  padding: 3vw;
  font-weight: 400;
  position: relative;
}

.contact-list-icon {
  color: var(--theme--primary-color);
  width: 1.5rem;
  height: 1.5rem;
}

.error-message {
  background-color: #2b2b2b;
  border: 1px solid #ca4949;
  border-radius: .5rem;
  margin-top: 1.5rem;
  padding: 1rem;
}

.contact-list-icon-wrapper {
  color: #162b4c;
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
}

.contact-list-item {
  align-items: center;
  display: flex;
}

._404-image {
  filter: invert();
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.utility-page-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.navha-hamburger-button {
  z-index: 201;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 3.375rem;
  height: 3.375rem;
  display: none;
  position: relative;
}

.project-description-text {
  color: var(--text--white-subdued);
  flex: none;
  font-size: 17px;
}

.project-hero-small {
  background-color: var(--theme--primary-faded);
  background-image: url('../images/Noise_1Noise.webp');
  background-position: 0 0;
  background-size: 256px;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-top: 28rem;
  padding-bottom: 3rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.project-dot {
  background-color: var(--text--white-subdued);
  border-radius: 8px;
  flex: none;
  width: 4px;
  height: 4px;
}

.roles-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: auto;
  display: flex;
}

.project-hero-small-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.screen-shot-container {
  background-color: #0000000f;
  width: 100%;
  padding: 4vw;
}

.project-screen-shot {
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 12px 32px #0000001a;
}

.contact-divider-line {
  background-color: var(--light-grey);
  width: 100%;
  height: 1.5px;
}

.hero-contact-link {
  color: var(--theme--primary-color);
  word-break: break-all;
  font-size: calc(.9vw + .5rem);
  font-weight: 400;
  line-height: 1.4em;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.hero-contact-link:hover {
  color: var(--text--off-white);
}

.grid---ratio-1x2 {
  grid-column-gap: 8%;
  grid-row-gap: 8%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  place-items: start;
  width: 100%;
}

.title-wrapper-sticky {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 36rem;
  display: flex;
  position: sticky;
  top: 8.5rem;
}

.press-logos-grid {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
  max-width: 100%;
}

.press-logo-container {
  aspect-ratio: 3 / 2;
  background-color: var(--card--card-black);
  width: 100%;
  padding: 2.25vw;
}

.press-logo-image {
  opacity: .85;
  filter: invert();
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav-wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-description {
  color: var(--text--off-white);
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3em;
}

.hero-text-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.hero-top-wrapper {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.hero-description-wrapper {
  width: 50%;
  max-width: 30rem;
  height: 100%;
}

.hero-background-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
}

.hero-background {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.hero-background.background-mobile {
  display: none;
}

.project__container {
  perspective: 3500px;
  align-items: center;
  width: 76%;
  min-width: 920px;
  max-width: 1500px;
  height: 42vw;
  min-height: 500px;
  display: flex;
  position: relative;
}

.templates_wrapper {
  grid-column-gap: .75vw;
  grid-row-gap: .75vw;
  border: 1px solid #0000;
  border-radius: .5vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: box-shadow .5s;
  display: flex;
  overflow: hidden;
}

.templates_wrapper:hover {
  border-color: #78787880;
  box-shadow: 0 1vw 3vw #fff6;
}

.contact-text-wrapper {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.contact-heading {
  color: var(--theme--primary-color);
  text-align: center;
  letter-spacing: .02em;
  font-size: 16vw;
  font-style: italic;
  line-height: 1em;
}

.nav-link-2 {
  opacity: .74;
  color: #fff;
  cursor: pointer;
  border-bottom-width: 2px;
  border-bottom-color: #0000;
  align-items: center;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.nav-link-2:hover {
  opacity: 1;
}

.nav-link-2.w--current {
  border-bottom-color: #ffffff80;
}

.nav-link-2.nav-item-dropdown {
  padding-left: 0;
  padding-right: 20px;
}

.nav-links-wrapper {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 4.4rem;
  display: flex;
}

.line {
  background-color: var(--light-grey);
  transform-origin: 0%;
  width: 100%;
  height: 1.5px;
}

.about-text-wrapper {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  flex-flow: column;
  padding-right: 2vw;
  display: flex;
}

.contact-wrapper {
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vw;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.nav_link-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.success-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-background-fade-overlay {
  background-image: linear-gradient(180deg, #0000, #02020200 92%, var(--background-black));
  width: 100%;
  height: 100%;
  position: absolute;
}

.project-grid {
  grid-column-gap: 8%;
  grid-row-gap: 8%;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 24vw;
  display: grid;
}

.project-image-wrapper {
  perspective: 3500px;
  border-radius: .5vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  transform: perspective(3500px);
}

.project-heading {
  color: var(--white);
  margin-bottom: .5rem;
  font-size: calc(1vw + 1rem);
  font-weight: 600;
  line-height: 1.2em;
}

.project-text-wrapper {
  margin-top: 1.25vw;
}

.project-background-image {
  aspect-ratio: 3.25 / 4;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  min-width: 100%;
  max-width: none;
  min-height: 100%;
  position: relative;
}

.project-link-wrapper {
  width: 100%;
  position: relative;
}

.project-link-wrapper.project-even {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  bottom: -50%;
}

.card {
  grid-column-gap: 1.25vw;
  grid-row-gap: 1.25vw;
  background-color: var(--card--card-black);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.card.services {
  grid-column-gap: 13vw;
  grid-row-gap: 13vw;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2vw;
}

.label-2 {
  color: var(--theme--primary-color);
  letter-spacing: .04em;
  text-transform: uppercase;
  font-size: calc(.5vw + .5rem);
  font-weight: 500;
  line-height: 1.2em;
}

.skills-grid {
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  perspective: 1000px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: relative;
  transform: perspective(1000px);
}

.skill-title {
  color: var(--theme--primary-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3em;
}

.awards-title {
  color: var(--theme--primary-color);
}

.awards-subheading {
  color: #ddd;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.4em;
}

.awards-logo-wrapper {
  flex: none;
  justify-content: flex-end;
  align-items: center;
  width: 8rem;
  height: 3rem;
  display: flex;
  position: relative;
}

.line-2 {
  opacity: .73;
  background-color: #63636380;
  width: 100%;
  height: 1px;
}

.awards-links-wrapper {
  opacity: .73;
  color: #fff;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #63636380;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: calc(.6vw + 1rem);
  font-weight: 500;
  line-height: 1.2em;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease;
  display: flex;
}

.awards-links-wrapper:hover {
  opacity: 1;
}

.awards-logo {
  filter: invert();
  object-fit: contain;
  object-position: 100% 50%;
  width: 100%;
  height: 100%;
}

.awards-grid {
  width: 100%;
}

.quote-slider {
  background-color: #0000;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.quote-mask {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.quote-arrow {
  border: 1px solid var(--theme--primary-color);
  color: var(--theme--primary-color);
  width: 48px;
  height: 48px;
  margin-bottom: -64px;
  font-size: 1.4em;
  inset: auto 0% 0% auto;
}

.quote-arrow.gallery-arrow-left {
  margin-right: 72px;
}

.slide-nav {
  align-items: center;
  height: 48px;
  margin-bottom: -64px;
  font-size: 12px;
  display: flex;
}

.quote {
  align-items: center;
  display: flex;
}

.quote-name {
  color: #fff;
  margin-right: 8px;
  font-size: 18px;
  font-weight: 500;
}

.quote-card {
  background-color: var(--card--card-black);
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6vw;
  display: flex;
}

.quote-heading {
  color: #fff;
  margin-bottom: 24px;
  font-size: calc(1vw + 1rem);
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
}

.quote-title {
  opacity: .73;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}

.quote-text-wrapper {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

.quote-profile-image-wrapper {
  border-radius: 60px;
  flex: none;
  width: 72px;
  height: 72px;
  margin-right: 16px;
  overflow: hidden;
}

.quote-profile-image {
  aspect-ratio: 1;
}

.contact-subheading-wrapper {
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 6vh;
  display: flex;
}

.contact-link {
  color: var(--theme--primary-color);
  text-align: right;
  word-break: break-all;
  font-size: 7vw;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: underline;
  transition: color .3s;
}

.contact-link:hover {
  color: var(--white);
}

.hero-contact-info-wrapper {
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  display: flex;
}

.hero-heading-wrapper {
  width: 40%;
  margin-bottom: auto;
}

.values-italics {
  font-style: italic;
  font-weight: 600;
}

.values-list-container {
  width: 100%;
}

.values-heading {
  color: var(--theme--primary-color);
  letter-spacing: .01em;
  font-size: 2rem;
  line-height: 1.3em;
}

.values-text-container {
  max-width: 22rem;
  margin-left: auto;
}

.values-container {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-bottom: .0625rem solid #333;
  align-items: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  display: flex;
}

.values-image {
  flex: none;
  width: 20px;
}

.values-line {
  background-color: #465567;
  width: 100%;
  height: 1px;
}

.label {
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  margin-bottom: -2.8rem;
  margin-left: -25%;
  display: flex;
  position: relative;
}

.intro-text-white {
  color: #f5f5f5;
  font-size: 2.75em;
  font-weight: 400;
  line-height: 1.3em;
}

.italic-text {
  color: var(--theme--primary-color);
  text-shadow: 0 3px 20px var(--theme--primary-color);
  font-style: italic;
  font-weight: 400;
}

.footer-span-link {
  color: #fff;
  transition: color .2s;
}

.footer-span-link:hover {
  color: #797979;
}

.footer-link {
  color: #b6b6b6;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  transition: color .3s;
}

.footer-link:hover {
  color: #fff;
}

.footer-link:active {
  color: #0e2244;
}

.footer-text {
  color: #b6b6b6;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer-bottom-links-grid {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: max-content max-content max-content;
  width: auto;
  display: flex;
}

.footer-alt {
  border-top: 1px solid #85858533;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.scrolling-logo-outer-wrapper {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .display-heading-1 {
    font-size: 4rem;
  }

  .hero-heading {
    font-size: 12vw;
    line-height: 100%;
  }

  .paragraph-24, .paragraph-20 {
    font-size: 1.25rem;
  }

  .paragraph-18 {
    font-size: 1.1em;
  }

  .paragraph-12 {
    color: #6f6c67;
  }

  .nav-menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    display: flex;
  }

  .menu-icon-line-middle {
    background-color: var(--text--off-white);
    flex: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .menu-icon-line-top {
    background-color: var(--text--off-white);
    flex: none;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nav-menu-button {
    z-index: 2;
    color: #fff;
  }

  .nav-menu-button.w--open {
    background-color: #0000;
  }

  .menu-icon-line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon-line-bottom {
    background-color: var(--text--off-white);
    flex: none;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .nav-bar {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    min-height: 4rem;
  }

  .project-2-container {
    width: 90%;
    min-width: auto;
  }

  .secondary-button.primary-button-grey {
    position: relative;
  }

  .project-long-image-container {
    width: 100%;
    min-width: auto;
    padding: 80px 32px;
  }

  .awards-links-container {
    font-size: 1.4em;
    line-height: 1.3em;
  }

  .project-footer {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .project-image-screenshot.project_image-screenshot--spacer {
    margin-bottom: 2vw;
  }

  .project-long-image-text-container {
    max-width: none;
  }

  .container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container.navigation-container {
    align-items: center;
  }

  .container.intro-container {
    width: 100%;
    min-width: auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .container.narrow {
    width: 80%;
    min-width: auto;
  }

  .project-1-image-container {
    width: 100%;
    min-height: 480px;
    max-height: 80vw;
  }

  .project-1-button {
    right: 10%;
  }

  .scrolling-logo-container {
    grid-column-gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .scrolling-logo-wrapper {
    width: 10vw;
    max-height: 3vw;
  }

  .nav-links-conatiner {
    z-index: 1;
    background-color: var(--background-black);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    display: flex;
    position: fixed;
    inset: 0%;
  }

  .nav-logo {
    z-index: 2;
    position: relative;
  }

  .nav-link {
    border-top: 1px none var(--grey-line);
    border-bottom: 1px solid var(--grey-line);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 32px 24px;
    font-size: 20px;
    display: flex;
  }

  .nav-link:active {
    opacity: .7;
  }

  .nav-link.nav-item-dropdown {
    border-bottom: 1px solid var(--grey-line);
    border-top-style: none;
    padding-left: 24px;
  }

  .nav-link.nav_link--contact {
    border-style: solid none none;
    border-color: var(--light-grey);
    border-radius: 0;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .nav-sub-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 1px solid var(--grey-line);
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: relative;
    left: 0%;
    right: 0%;
    overflow: auto;
  }

  .contact-me-section {
    padding-bottom: 4rem;
  }

  .conatct-card {
    padding: 2rem;
  }

  .grid-case-study-2x1 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .project-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .grid-case-study-2x1-reverse {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .next-project-title {
    font-size: 3rem;
    line-height: 1.2em;
  }

  .project-long-image-text-wrapper {
    padding-right: 24px;
  }

  .grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 2.5fr;
  }

  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .section.section-hero {
    padding-top: 5.5rem;
  }

  .primary-button {
    padding: .75rem 1.25rem;
  }

  .label-heading {
    font-size: calc(.5vw + .75rem);
  }

  .contact-links {
    font-size: 1.1em;
  }

  .success-message {
    flex: 1;
    padding: 1.25rem;
  }

  .navha-hamburger-button {
    background-color: #f3f3f3;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    transition: background-color .3s;
    display: flex;
  }

  .navha-hamburger-button:hover {
    background-color: #d3d3d3;
  }

  .project-hero-small {
    padding-top: 12rem;
    padding-bottom: 2rem;
  }

  .roles-container {
    margin-top: 1rem;
  }

  .project-hero-small-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .screen-shot-container {
    padding: 8vw;
  }

  .hero-contact-link {
    font-size: calc(.85vw + .75rem);
  }

  .grid---ratio-1x2 {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 8fr;
  }

  .title-wrapper-sticky {
    position: relative;
    top: 0;
  }

  .press-logos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .press-logo-container {
    padding: 4.25vw;
  }

  .nav-wrapper {
    border-bottom-style: none;
    justify-content: space-between;
  }

  .hero-description {
    margin-top: 0;
    font-size: 2.35vw;
  }

  .hero-text-wrapper {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .hero-top-wrapper {
    justify-content: space-between;
    align-items: flex-end;
  }

  .project__container {
    width: 90%;
    min-width: auto;
  }

  .contact-heading {
    font-size: 16vw;
  }

  .nav-link-2 {
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px #5c5c5c;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 32px;
    font-size: 20px;
    display: flex;
  }

  .nav-link-2:active {
    opacity: .7;
  }

  .nav-link-2.nav-item-dropdown {
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    padding-left: 24px;
  }

  .nav-links-wrapper {
    grid-column-gap: 0vw;
    grid-row-gap: 0vw;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding-left: 0;
  }

  .about-text-wrapper {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }

  .contact-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .hero-background-fade-overlay {
    background-image: linear-gradient(180deg, var(--background-black), #0000 25%, #02020200 75%, var(--background-black));
  }

  .project-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .project-image-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-heading {
    font-size: calc(1vw + 1.25rem);
  }

  .project-text-wrapper {
    margin-top: 1.25rem;
  }

  .label-2 {
    font-size: calc(.5vw + .75rem);
  }

  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }

  .awards-links-wrapper {
    font-size: 1.4em;
    line-height: 1.3em;
  }

  .slide-nav {
    font-size: 1.7vw;
  }

  .quote-card {
    padding: 2rem;
  }

  .quote-profile-image-wrapper {
    width: 64px;
    height: 64px;
  }

  .contact-subheading-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    margin-top: 2rem;
  }

  .hero-contact-info-wrapper {
    margin-top: 2rem;
  }

  .hero-heading-wrapper {
    width: auto;
  }

  .values-heading {
    font-size: 2.4em;
  }

  .label {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .intro-text-white {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 767px) {
  .display-heading-1 {
    font-size: 3.5rem;
  }

  .hero-heading {
    z-index: 2;
  }

  .heading-h4 {
    font-size: 1.5em;
  }

  .paragraph-32 {
    font-size: 2rem;
  }

  .paragraph-24, .paragraph-20 {
    width: 100%;
  }

  .paragraph-14 {
    font-size: calc(.6vw + .75rem);
    line-height: 1.5em;
  }

  .paragraph-12 {
    font-size: .625rem;
    line-height: 1rem;
  }

  .nav-bar {
    height: auto;
    min-height: 4rem;
  }

  .project-2-container {
    width: 100%;
    height: auto;
    min-height: 60vw;
    margin-left: 24px;
    margin-right: 24px;
  }

  .secondary-button {
    padding: 16px 22px;
  }

  .project-long-image-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-long-image-container.max-width {
    flex-direction: column;
  }

  .awards-links-container {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .project-hero-text-name {
    font-size: 1.4em;
  }

  .project-hero-details-wrapper {
    width: 100%;
  }

  .project-hero-details-grid {
    flex-direction: column;
    margin-bottom: 0;
  }

  .project-footer {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .project-footer-link {
    margin: 12px 16px;
  }

  .project-image-screenshot.project_image-screenshot--spacer {
    margin-bottom: 1.25vw;
  }

  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .container.intro-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container.global-container-medium.global-container-hero {
    padding-bottom: 15vh;
  }

  .container.narrow {
    width: 90%;
  }

  .project-1-image-container {
    height: 90vh;
    min-height: 400px;
  }

  .project-1-button {
    letter-spacing: 3px;
    right: 5%;
  }

  .skill-card {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
  }

  .scrolling-logo-container {
    width: 200vw;
  }

  .scrolling-logo-wrapper {
    width: 20vw;
    max-height: 5vw;
  }

  .nav-links-conatiner {
    padding-top: 64px;
  }

  .nav-link {
    padding: 24px;
  }

  .contact-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 11fr;
  }

  .contact-me-section {
    padding-top: 5.5rem;
    padding-bottom: 2rem;
  }

  .conatct-card {
    padding: 1.5rem;
  }

  .grid-case-study-2x1 {
    grid-template-columns: 12fr;
  }

  .project-section.top-image-section {
    margin-top: -15vh;
  }

  .grid-case-study-2x1-reverse {
    grid-template-columns: 12fr;
  }

  .project-long-image-text-wrapper {
    width: 100%;
    min-height: auto;
    max-height: none;
    margin-bottom: 32px;
    padding-right: 0;
    position: relative;
    top: 0;
  }

  .project-long-image-wrapper {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .metrics-value {
    font-size: 2.2rem;
  }

  .footer-bottom-links {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .contact-links {
    font-size: 1em;
  }

  .navha-hamburger-button {
    height: 3.375rem;
  }

  .project-hero-small {
    min-height: 50vh;
    padding-top: 80px;
  }

  .roles-container {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .hero-contact-link {
    font-size: calc(.85vw + .85rem);
  }

  .press-logos-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
  }

  .press-logo-container {
    padding: 5.25vw;
  }

  .hero-description {
    text-align: center;
    font-size: 1.25rem;
  }

  .hero-top-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .hero-description-wrapper {
    width: 100%;
  }

  .hero-background {
    display: none;
  }

  .hero-background.background-mobile {
    display: block;
  }

  .project__container {
    width: 100%;
    min-height: 68vw;
    margin-left: 24px;
    margin-right: 24px;
  }

  .templates_wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
  }

  .nav-link-2 {
    padding: 24px;
  }

  .contact-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .project-heading {
    font-size: calc(1vw + 1.5rem);
  }

  .project-link-wrapper.project-even {
    bottom: auto;
  }

  .card.services {
    padding: 2rem 1.5rem;
  }

  .skills-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .awards-subheading {
    margin-top: 8px;
  }

  .awards-links-wrapper {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .slide-nav {
    display: none;
  }

  .quote-card {
    padding: 2rem;
  }

  .quote-heading {
    font-size: 1.4em;
  }

  .quote-title {
    font-size: 12px;
  }

  .quote-profile-image-wrapper {
    width: 56px;
    height: 56px;
    margin-right: 8px;
  }

  .contact-link {
    font-size: 8vw;
  }

  .hero-contact-info-wrapper {
    margin-top: 1.5rem;
  }

  .values-italics {
    font-size: 2.2rem;
  }

  .values-heading {
    font-size: 1.8em;
  }

  .values-text-container {
    max-width: 20rem;
    padding-left: 2rem;
  }

  .values-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .label {
    margin-left: 0;
  }

  .intro-text-white {
    font-size: 2em;
  }

  .footer-text {
    font-size: .875rem;
    line-height: 1.375rem;
  }

  .services-empty-space {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .display-heading-1 {
    margin-bottom: 1rem;
    font-size: calc(.75rem + 11vw);
  }

  .hero-heading {
    font-size: 15vw;
  }

  .heading-h3 {
    line-height: 14vw;
  }

  .heading-h6 {
    margin-bottom: .5rem;
  }

  .heading-h5 {
    margin-bottom: .75px;
  }

  .paragraph-32 {
    font-size: 1.6rem;
  }

  .paragraph-12 {
    font-size: .625rem;
    line-height: 1rem;
  }

  .project-2-container {
    align-items: center;
    width: 100%;
    min-height: 100svh;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .secondary-button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .awards-links-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .project-hero-details-text {
    font-size: 1em;
  }

  .project-hero-section {
    perspective-origin: 0 0;
  }

  .project-hero-details-title {
    font-size: 1em;
  }

  .project-footer-link {
    margin-left: 12px;
    margin-right: 12px;
  }

  .container {
    flex-wrap: nowrap;
  }

  .container.intro-container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .container.global-container-medium.global-container-hero {
    padding-bottom: 18vh;
  }

  .container.container-footer {
    flex-direction: column;
  }

  .container.narrow {
    width: 100%;
  }

  .project-1-image-container {
    width: 114%;
    height: 60vh;
    min-height: 300px;
    max-height: 180vw;
    margin-left: -10vw;
  }

  .project-1-button {
    font-size: 16px;
  }

  .scrolling-logo-wrapper {
    width: 25vw;
    max-height: 8vw;
  }

  .nav-sub-container {
    z-index: 7;
  }

  .grid-case-study-2x1 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .grid-2x2 {
    grid-template-columns: 1fr;
  }

  .next-project-title {
    font-size: 2.2rem;
  }

  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .rich-text-block h1 {
    font-size: 3.2rem;
  }

  .rich-text-block h2 {
    font-size: 2.4rem;
  }

  .rich-text-block h3 {
    font-size: 1.7rem;
  }

  .section.section-hero {
    padding-top: 4rem;
  }

  .metrics-value {
    font-size: 1.8rem;
  }

  .footer-bottom-links {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-wrap: wrap;
  }

  .project-hero-small {
    perspective-origin: 0 0;
    padding-top: 10rem;
  }

  .roles-container {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    margin-bottom: 1rem;
  }

  .screen-shot-container {
    padding: 0;
  }

  .press-logos-grid {
    grid-column-gap: .5625em;
    grid-row-gap: .5625em;
    grid-template-columns: 1fr 1fr;
  }

  .press-logo-container {
    padding: 8.25vw;
  }

  .hero-description {
    font-size: 1.1rem;
    line-height: 1.4em;
  }

  .hero-top-wrapper {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    justify-content: space-between;
    align-items: center;
  }

  .hero-background {
    opacity: .8;
  }

  .project__container {
    align-items: center;
    width: 100%;
    min-height: 96vh;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .contact-heading {
    font-size: 15vw;
  }

  .skill-title {
    font-size: 1.25rem;
  }

  .awards-logo-wrapper {
    width: 6rem;
    height: 2rem;
    margin-top: 8px;
  }

  .awards-links-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .quote-card {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .quote-heading {
    font-size: 1.4em;
    line-height: 1.3em;
  }

  .quote-profile-image-wrapper {
    margin-right: 12px;
  }

  .contact-subheading-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin-top: 1rem;
  }

  .values-text-container {
    max-width: none;
    padding-left: 0;
  }

  .values-container {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .values-image {
    display: none;
  }

  .intro-text-white {
    font-size: 1.8em;
  }

  .footer-bottom-links-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .footer-alt {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .scrolling-logo-outer-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

#w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804cf-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804d1-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804d3-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804d5-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804d7-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804d9-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804db-bdedee57, #w-node-ec5937ec-82d7-5fcb-73c8-9ad9889804dd-bdedee57 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f2f1c1ab-51ee-c78c-85d4-0a53924122fb-bdedeeab, #w-node-f2f1c1ab-51ee-c78c-85d4-0a5392412301-bdedeeab {
  align-self: start;
}

#w-node-abd84362-5036-ea32-9d5b-86289504d94d-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d94f-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d951-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d953-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d955-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d957-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d959-bdedeeb2, #w-node-abd84362-5036-ea32-9d5b-86289504d95b-bdedeeb2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-caf9d597-2d31-5c79-6e28-a8dcefb05401-bdedeeb2 {
    order: 9999;
  }
}

@media screen and (max-width: 767px) {
  #w-node-edbf765f-f0e1-39f9-1246-dc939bae4821-bdedeeb1 {
    order: -9999;
  }
}


